RewriteEngine On

Redirect 301 developpement-de-web-application /services/developpement-de-web-applications-et-sites-web-modernes
Redirect 301 /developpeur-wordpress-geneve-lausanne-annecy-lyon /services/developpement-wordpress-avance
Redirect 301 /developpement-sous-craft-cms /services/developpement-sous-craft-cms
Redirect 301 /consultant-technique-web /services/consultant-technique-web
