---
import Advantage from "../components/home/Advantage.astro";
import HeroHome from "../components/home/HeroHome.astro";
import Partners from "../components/home/Partners.astro";
import Tools from "../components/home/Tools.astro";
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Home page">
  <main>
    <HeroHome />
    <Advantage />
    <Tools />
    <Partners />
  </main>
</Layout>
