---
export interface Props {
  color: Color;
}
const { color = "primary" } = Astro.props;
---

<button
  id="open-nav"
  aria-label="ouvrir le menu"
  class="w-12 h-8 absolute right-5 top-6 z-20 lg:hidden"
>
  <span
    class={`absolute h-1 bg-${color}-900 w-full transition-all top-0 opacity-100 right-0 rotate-0`}
  ></span>
  <span
    class={`absolute h-1 bg-${color}-900 w-full transition-all top-[14px] opacity-100 right-0 rotate-0`}
  ></span>
  <span
    class={`absolute h-1 bg-${color}-900 w-full transition-all bottom-0 opacity-100 right-0 rotate-0`}
  ></span>
</button>
<style>
  button.is-open {
    @apply fixed;
  }
  button.is-open span:nth-child(1) {
    @apply top-[14px] rotate-45;
  }
  button.is-open span:nth-child(2) {
    @apply opacity-0 -right-16;
  }
  button.is-open span:nth-child(3) {
    @apply top-[14px] -rotate-45;
  }
</style>
<script>
  const openNav = document.getElementById("open-nav");
  const nav = document.getElementById("navigation");
  openNav?.addEventListener("click", () => {
    openNav?.classList.toggle("is-open");
    nav?.classList.toggle("is-open");
    document.body.classList.toggle("overflow-hidden");
  });
</script>
