---
const SITE_URL = import.meta.env.SITE_URL;
---

<div
  class="text-right md:max-w-7xl w-full mx-auto px-4 flex justify-end items-center space-x-2"
>
  <div class="flex flex-col">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href={`https://websitecarbon.com/website/${SITE_URL}`}
      class="total text-sm"
    >
      <strong>0.04</strong>g de CO<sub>2</sub>/vue
    </a>
    <p class="percentage text-xs text-green-800">
      Page web plus légère que <strong class="percentageNumber">96</strong>% des
      pages testées
    </p>
  </div>
  <div class="text-green-500">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 48 48"
      ><g
        class="stroke-primary-900"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="4"
        ><path
          d="M42.3357 16C39.2495 8.93638 32.2012 4 23.9999 4C15.7986 4 8.75029 8.93638 5.66406 16"
        ></path><path
          fill="currentColor"
          d="M24 14C20.2973 17.6298 18 22.6881 18 28.2829C18 28.7833 18.0184 29.2795 18.0545 29.7708C21.7253 33.3967 24 38.4327 24 44C24 38.4327 26.2747 33.3967 29.9455 29.7708C29.9816 29.2795 30 28.7833 30 28.2829C30 22.6881 27.7027 17.6298 24 14Z"
        ></path><path
          fill="currentColor"
          d="M4 24C4 35.0457 12.9543 44 24 44C24 38.4327 21.7253 33.3967 18.0545 29.7708C14.4424 26.2027 9.47841 24 4 24Z"
        ></path><path
          fill="currentColor"
          d="M44 24C44 35.0457 35.0457 44 24 44C24 38.4327 26.2747 33.3967 29.9455 29.7708C33.5576 26.2027 38.5216 24 44 24Z"
        ></path></g
      ></svg
    >
  </div>
</div>
