---
type Props = {
  title: string;
};

const { title } = Astro.props as Props;
---

<div class="faq not-prose mt-3">
  <details>
    <summary
      class="flex items-start z-0 relative bg-casper-200 w-full px-2 pb-1 pt-2 rounded-lg text-casper-900 cursor-pointer"
      aria-label="ouvrir la réponse"
    >
      <span class="text-4xl -mt-0.5 mr-2 transition-all">+</span>{title}
    </summary>
    <div class="py-3 px-2">
        <slot />
    </div>
    </details>
</div>
<script>
  document.querySelectorAll(".faq details summary").forEach((dt) => {
    dt.addEventListener("click", () => {
      dt.querySelector("span")?.classList.toggle("rotate-45");
    });
  });
</script>
