---
import zmf from "../../assets/images/zmf.svg";
---

<footer class="bg-secondary-500 py-10">
  <div class="max-w-7xl mx-auto w-full flex items-center px-6">
    <div class="flex-1">
      <img
        src={zmf.src}
        width={zmf.width}
        height={zmf.height}
        alt="ZMF"
        class="w-44"
      />
      <p class="text-primary-900 text-xs mt-2">
        2023 ZMF Resources Tous les droits sont réservés.
      </p>
    </div>
    <div class="flex-1">
      <nav class="flex flex-col">
        <a href="/politique-de-confidentialite">Politique de confidentialité</a>
        <a href="/mentions-legales">Mentions légales</a>
      </nav>
    </div>
  </div>
</footer>
