---
import zmf from "../../assets/images/zmf.svg";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname;
---

<footer class="py-10 bg-slate-50">
  <div class="max-w-7xl mx-auto w-full flex items-stretch pl-5 pr-2 md:px-6">
    <div class="flex-1">
      <img
        src={zmf.src}
        width={zmf.width}
        height={zmf.height}
        alt="ZMF"
        class="w-44"
      />
      <p class="text-primary-900 reserved text-xs mt-2">
        ZMF Resources Tous les droits sont réservés.
      </p>
      <script>
        const reserved = document.querySelector(".reserved");
        if (reserved) {
          reserved.innerHTML =
            new Date().getFullYear() + " " + reserved.innerHTML;
        }
      </script>
    </div>
    <div class="flex-1">
      <nav class="flex ml-2 md:ml-5 flex-col text-xs md:text-sm">
        <a
          class={`my-1 ${
            currentPath === "/politique-de-confidentialite" ? "underline" : ""
          }`}
          href="/politique-de-confidentialite">Politique de confidentialité</a
        >
        <a
          class={`my-1 ${
            currentPath === "/mentions-legales" ? "underline" : ""
          }`}
          href="/mentions-legales">Mentions légales</a
        >
        <a class={`my-1`} href="https://github.com/ipatate/goodmotion-2023"
          >Code source du site</a
        >
      </nav>
    </div>
  </div>
</footer>
