---
import Logo from "./Logo.astro";
import Navigation from "./Navigation.astro";
import Social from "./Social.astro";
---

<header class="flex w-full py-4 bg-white">
  <div class="max-w-7xl mx-auto w-full flex items-center lg:px-6">
    <a href="/" title="Accueil" class="flex justify-start w-64">
      <Logo className="" width={200} height={50} />
    </a>
    <Navigation />
    <Social />
  </div>
</header>
