---
import Logo from "./Logo.astro";
import Navigation from "./Navigation.astro";
---

<header class="flex w-full py-2 absolute top-0 left-0 right-0">
  <div class="max-w-7xl mx-auto w-full flex items-center px-6">
    <a href="/" title="Accueil" class="flex flex-col justify-start w-64">
      <Logo className="mx-auto" width={256} height={73} />
      <p class="text-primary font-semibold relative -top-5 px-1 text-right"></p>
    </a>
    <Navigation />
  </div>
</header>
