---
import coder from "../../public/assets/coder.svg";
---

<div class="flex flex-col-reverse md:flex-row py-4">
  <div class="flex-1 flex flex-col justify-center p-10">
    <h1 class="text-primary text-3xl font-semibold">
      Développement web durable et maintenable
    </h1>
    <p class="mt-5 leading-7 text-lg text-gray-700">
      Eiusmod consectetur culpa aliquip aliquip id esse eu voluptate nulla amet
      ut laboris ex nisi. Adipisicing esse do enim ea adipisicing deserunt quis
      eiusmod reprehenderit ea esse ea.
    </p>
  </div>
  <div class="flex-1">
    <img
      src={coder}
      alt="coder"
      class="w-3/6 mx-auto"
      loading="eager"
      width="397"
      height="500"
    />
  </div>
</div>
