<nav class="ml-auto">
  <ul>
    <li>
      <a
        href="/"
        class="bg-home bg-no-repeat bg-center bg-contain w-6 h-6 inline-flex"
        ><span class="absolute top-[-2000px] left-[-1000px]">Accueil</span></a
      >
    </li>
  </ul>
</nav>
