---
import { getCollection, render } from "astro:content";
import Convert from "../components/Convert.vue";

const PUBLIC_SITE_LOCALE = import.meta.env.PUBLIC_SITE_LOCALE || "fr";
const rawProducts = (await getCollection("products")).filter((entry) => entry.id.startsWith(`${PUBLIC_SITE_LOCALE}/`)).sort(
    (a, b) => {
      return b.data.title - a.data.title;
    },
);

const products = await Promise.all(
  rawProducts.map(async (product) => {
    const { Content } = await render(product);
    return { ...product, Content };
  })
);
---
<div class="py-6 lg:pb-20">
  <div class="md:max-w-7xl w-full mx-auto my-2 md:my-5 text-left px-4 md:px-10">
      <p class="text-xs font-bold tracking-[0.2em] uppercase text-primary-800 mb-4">
        Prestations
      </p>
  <h2
    class="text-5xl sm:text-7xl md:text-8xl text-primary-900 font-extrabold leading-none tracking-tight"
  >
    Quelques offres
  </h2>
  <p class="text-left w-full text-base text-primary-800 mt-5 mb-6 max-w-2xl">
    Voici quelques idées de prestation que nous proposons.
  </p>
    <div class="grid md:grid-cols-2 mt-14 gap-5">
    {products.map((product) => (
      <div class="gap-5 flex flex-col justify-start py-5 px-6 bg-casper-100 rounded transition-colors group relative">
        <h2 class="text-2xl md:text-3xl font-bold text-primary-900 hover:text-primary-800">{product.data.title}</h2>
        <div class="text-gray-600 prose prose-xs flex-1"><product.Content /></div>
        <div class="flex justify-end gap-2 md:gap-3 flex-wrap w-full">
        <Convert amount={product.data.price.toString()} class="pt-1 pb-3 items-end w-fit [&_strong]:top-1" suffix={product.data.suffix} client:visible />
        <a
          href="/contact"
          class={`inline-block px-3 py-3 text-base font-medium text-white bg-primary-800 rounded-md hover:bg-primary-700 transition-colors`}
        >
          Nous contacter
        </a>
        </div>
      </div>
    ))}
    </div>
    {PUBLIC_SITE_LOCALE === 'ch' && <p class="text-sm text-gray-700 mt-10">Les factures sont en euros et sans TVA pour les clients Suisses.</p>}
  </div>
</div>
