---
type Props = {
  headings: { depth: number; slug: string; text: string }[];
};

const { headings } = Astro.props;
---

<div class="sticky top-5 right-0 group -mt-14 ml-auto h-10 w-12">
  <button
    class="text-primary-900 bg-slate-100 rounded-full shadow-md pb-20"
    aria-label="ouvrir le menu de navigation"
    type="button"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 24 24"
      ><path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h10M4 18h14"></path></svg
    ></button
  >
  <div
    class="max-w-full min-w-[92vw] w-auto md:min-w-[26rem] md:max-w-md group-hover:max-h-screen flex flex-col absolute max-h-0 overflow-hidden transition-height duration-150 ease-in-out bg-slate-100 rounded-md shadow-md right-0 text-left"
  >
    {
      headings.map((h) => (
        <a
          class={`ml-${
            3 * h.depth
          } no-underline text-base py-1 pr-3 first:mt-3 last:mb-3 toc-link`}
          href={`#${h.slug}`}
        >
          {h.text}
        </a>
      ))
    }
  </div>
</div>
<script>
  // smooth scroll to anchor
  const anchors = document.querySelectorAll('a[href*="#"]');
  anchors.forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();
      const target = e.currentTarget as HTMLAnchorElement;
      if (!target) return;
      const href = target.getAttribute("href");
      if (!href) return;
      document.querySelector(href)?.scrollIntoView({
        behavior: "smooth",
      });
    });
  });
</script>
