---
import Seo from "../components/Seo.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Co2badge from "../components/Co2badge.astro";

export interface Props {
  title: string;
  description: string;
  color?: Color;
}

const { title, description, color = "primary" } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <Seo title={title} description={description} color={color} />
  </head>
  <body class="bg-gray-100">
    <div class="h-screen absolute top-0 right-0 left-0 z-[-1]"></div>
    <Header color={color} />
    <Co2badge />
    <slot />
    <Footer />
    <style is:global>
      @font-face {
        font-family: Sora;
        font-style: oblique 0deg 10deg;
        font-weight: 100 800;
        font-display: fallback;
        src: url("../../assets/fonts/Sora-VariableFont_wght.woff2")
          format("woff2");
        font-stretch: 25% 151%;
        unicode-range: U+000-5FF;
      }
      ::selection {
        @apply text-white bg-accent-600;
      }
    </style>
  </body>
</html>
