---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <div class="prose md:prose-lg mx-auto py-10">
    <h1 class="text-primary-900">{frontmatter.title}</h1>
    <slot />
  </div>
</BaseLayout>
