---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <div class="prose md:prose-xl mx-auto pt-20 pb-10 px-4">
    <h1 class="text-primary-900">{frontmatter.title}</h1>
    <slot />
  </div>
  <style>
    .prose h1 {
      @apply text-5xl mb-20;
    }
  </style>
</BaseLayout>
